*,
::before,
::after {
  box-sizing: border-box;
}

.App {
  position: relative;
  height: 100vh;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: clip;
}

.App-grid{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1fr 60px 30px;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.App-log{
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

ul{
  width: 100%;
  list-style: none;
  padding-left: 10px;
}

li{
  white-space: pre-wrap;
  overflow: hidden;
  padding: 0 14px;
  color: #333;
  background: #fff;
  border: 2px solid #035AA6;
  border-radius: 15px 30px 30px 0px;
  margin-bottom: 10px;
}

.App-textarea{
  grid-column: 1/2;
  grid-row: 2/3;
  resize: none;
}

.App-sendButton,.App-sendButton-disabled{
  grid-column: 2/3;
  grid-row: 2/3;
}

.App-sendButton{
  background-color: black;
}

.App-sendButton-disabled{
  background-color: rgb(193, 193, 193);
}

.App-sendButton-img{
  height: 30px;
}

.App-note, .App-note-disabled{
  grid-column: 1/3;
  grid-row: 3/4;
  text-align: right;
}

.App-note{
  color: black;
}

.App-note-disabled{
  color: rgb(193, 193, 193);
}

@media screen and (max-width: 500px) {
  .App {
    width: 100%;
  }
}