.Animation-background{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #035AA6;
  z-index: 40;
}

.Animation-flushButton{
  position: absolute;
  right: 14px;
  bottom: 108px;
  width: 28px;
  height: 28px;
  z-index: 50;
}

.Animation-flushButton img{
  height: 100%;
}

.Animation-log{
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 90;
}

.Animation-wave{
  width: 500px;
  background-color: #C9E7F2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}